/* Custom Tag Pills */

.tag[href^="#personal"] {
    color: white;
    background-color: rgb(38, 139, 210)
  }

.tag[href^="#work"], span.cm-tag-task {
    color: white;
    background-color: rgb(220, 50, 47)
  }

.tag[href^="#사내복지"], span.cm-tag-hold {
    color: white;
    background-color: rgb(203, 143, 4)
  }

.tag[href^="#자산"], span.cm-tag-hold {
    color: white;
    background-color: #C47169
  }  

.tag[href^="#study"], span.cm-tag-subtask {
    color: white;
    background-color: #0C6F45;
}

.tag[href^="#todo"], span.cm-tag-subtask {
    color: white;
    background-color: #0c266f;
}

/* Limit Visibility of Tags in Queries */

.tasks-list-text a.tag {
    display: none;
}